<p><%= @display_name %> 様</p>

<p>こんにちは！いつもパパママQAをご利用いただきありがとうございます。</p>

<p>
リプライが来ました。<br />
内容を確認してください。
</p>

<pre>
=========================
コメント内容
=========================
<%= @a.content %>

=========================
リプライ内容
=========================
<%= @r.content %>

▼質問・コメントの確認はこちらから
<%= question_url(@a.question_id) %>
</pre>

<hr />
パパママQA<br />
https://papamamaqa.com