<p><%= @display_name %> 様</p>

<p>こんにちは！いつもママパパQ&Aをご利用いただきありがとうございます。</p>

<p>
リプライが来ました。<br />
内容を確認してください。
</p>

<pre>
=========================
コメント内容
=========================
<%= @a.content %>

=========================
リプライ内容
=========================
<%= @r.content %>

▼質問・コメントの確認はこちらから
<%= question_url(@q.hashid) %>
</pre>

<hr />
ママパパQ&A<br />
https://papamamaqa.com