<p><%= @display_name %> 様</p>

<p>こんにちは！いつもママパパQ&Aをご利用いただきありがとうございます。</p>

<p>ママパパQ&Aに質問が投稿されました。</p>

<pre>
=========================
質問内容
=========================
【<%= @q.title %>】
<%= @q.content %>

▼質問の確認はこちらから
<%= question_url(@q.hashid) %>
</pre>

<hr />
ママパパQ&A<br />
https://papamamaqa.com