<% if @question.open? %>
  <div class="p-2 w-full pt-4 mt-4 border-t border-gray-200 relative mb-8 text-sm">
    <label class="leading-7 text-sm text-gray-600">あなたの回答</label>
    <%= form_with url: question_post_answer_path, local: true do |form| %>
      <textarea
        maxlength="2000"
        required="required"
        class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 h-96 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
        name="content"></textarea>
      <%= form.hidden_field :id, :value => @question.hashid %>

      <button
        type="submit"
        class="text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded text-lg"
      >回答する</button>
    <% end %>
  </div>
<% end %>
