<h1>Question#show</h1>

title: <%= @question.title.nil? ? '-' : @question.title %>
<br />
tags: <%= @question.tags.nil? ? '-' : @question.tags %>
<br />
content: <%= @question.content.nil? ? '-' : @question.content %>
<br />
status: <%= @question.status.nil? ? '-' : @question.status %>
<hr />
Reply

<hr />
Comment