<% content_for :title, 'プライバシーポリシー' %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full flex flex-col px-3">
    <%= render partial: 'layouts/h1', locals: { h1: 'プライバシーポリシー' } %>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">1. 収集する情報</h2>
    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">1.1 登録情報</h3>
    <p class="text-base leading-relaxed mb-2">当サイトでは、利用者がアカウントを作成する際に、以下の情報を収集します:</p>
    <ul class="list-decimal pl-8 mb-2">
      <li>ユーザー名: 利用者を識別するための一意の名前。</li>
      <li>メールアドレス: 重要な通知やアカウントの復旧に使用します。</li>
    </ul>

    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">1.2 利用情報</h3>
    <p class="text-base leading-relaxed mb-2">利用者がサイトを使用する際に、以下の情報を自動的に収集する場合があります:</p>
    <ul class="list-decimal pl-8 mb-2">
      <li>IPアドレス: 利用者のデバイスに関連付けられたIPアドレス。</li>
      <li>ブラウザの種類とバージョン: 利用者のブラウザ情報。</li>
      <li>クッキー: 利用者のサイト利用状況を追跡するために使用します。</li>
    </ul>

    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">1.3 投稿内容</h3>
    <p class="text-base leading-relaxed mb-2">利用者が質問、回答、コメント、その他の投稿を行う場合、その内容がサイト上に表示されます。この情報は一般に公開されるため、自己の個人情報やプライバシーに関連する情報を含めないようにご注意ください。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">2. 収集した情報の使用</h2>
    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">2.1 サービス提供</h3>
    <p class="text-base leading-relaxed mb-2">収集した情報は、サイトの機能やサービスの提供に使用されます。</p>

    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">2.2 カスタマイズと改善</h3>
    <p class="text-base leading-relaxed mb-2">収集した情報は、サイトのカスタマイズや改善のために使用されます。</p>

    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">2.3 コミュニケーション</h3>
    <p class="text-base leading-relaxed mb-2">収集した情報を使用して、利用者に対して重要な通知やサイトのアップデートに関する情報を提供する場合があります。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">3. 情報の共有</h2>
    <h3 class="text-gray-900 font-medium title-font text-lg mb-2">3.1 第三者への共有</h3>
    <p class="text-base leading-relaxed mb-2">当サイトは、利用者の個人情報を、利用者の明示的な同意がある場合を除き、第三者と共有しません。ただし、法的な要請や法的手続きに対応する必要がある場合、または当サイトのサービス提供に関わる業務委託先との間で必要な情報共有を行う場合は、共有することがあります。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">4. セキュリティ</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、適切な物理的、技術的、および組織的な対策を講じて、収集した情報を保護します。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">5. Cookieの使用</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、利用者により良いユーザーエクスペリエンスを提供するために、Cookieを使用する場合があります。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">6. リンク先のサイト</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、他のウェブサイトへのリンクを含む場合があります。リンク先のサイトは独自のプライバシーポリシーを適用するため、それらのサイトにアクセスする際には、それらのポリシーを確認してください。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">7. 未成年者のプライバシー</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、未成年者からの個人情報の収集を意図していません。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">8. プライバシーポリシーの変更</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、必要に応じてプライバシーポリシーを変更・更新する権利を留保します。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">9. お問い合わせ</h2>
    <p class="text-base leading-relaxed mb-2">本プライバシーポリシーに関するご質問や懸念事項がある場合は、以下の連絡先までお問い合わせください。</p>
    <p class="text-base leading-relaxed mb-2"><%= link_to 'お問い合わせフォーム', contact_path, class: "text-green-500 leading-relaxed" %></p>
  </section>
</div>