<% content_for :title, '利用規約' %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full flex flex-col px-3">
    <%= render partial: 'layouts/h1', locals: { h1: '利用規約' } %>
    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">1. サービスの利用</h2>
    <p class="text-base leading-relaxed mb-2">利用者が当サイトを利用する際には、以下の条件に同意するものとします:</p>
    <ul class="list-decimal pl-8 mb-2">
      <li>他の利用者の権利を尊重し、相互に礼儀正しくコミュニケーションすること。</li>
      <li>当サイト上での活動が法律や規制に違反しないこと。</li>
      <li>他の利用者や当サイトの運営に支障をきたすような行為を行わないこと。</li>
    </ul>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">2. ユーザーアカウント</h2>
    <p class="text-base leading-relaxed mb-2">当サイトの一部の機能を利用するためには、利用者はアカウントを作成する必要があります。以下の条件に同意する場合にのみ、アカウントを作成できます:</p>
    <ul class="list-decimal pl-8 mb-2">
      <li>正確かつ完全な情報を提供すること。</li>
      <li>アカウントの認証情報を他人と共有しないこと。</li>
      <li>アカウントを不正に使用したり、他の利用者のアカウントに侵入したりしないこと。</li>
    </ul>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">3. コンテンツの投稿</h2>
    <p class="text-base leading-relaxed mb-2">利用者が当サイト上に投稿するコンテンツには、以下のガイドラインが適用されます:</p>
    <ul class="list-decimal pl-8 mb-2">
      <li>著作権や他の知的財産権を侵害するコンテンツを投稿しないこと。</li>
      <li>誹謗中傷、差別、暴力的な表現などの不適切なコンテンツを投稿しないこと。</li>
      <li>スパムや広告、詐欺行為を目的としたコンテンツを投稿しないこと。</li>
    </ul>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">4. 免責事項</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、利用者間のコミュニケーションや投稿されたコンテンツに関して一切の責任を負いません。利用者は自己の責任において当サイトを利用するものとし、他の利用者とのやり取りや情報の信頼性について自己判断を行う必要があります。

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">5. サービスの変更と終了</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、事前の通知によらず、いつでもサービスの提供内容や機能を変更、追加、または中止する権利を留保します。利用者への事前通知や承諾は行われない場合があります。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">6. 第三者サイト</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、他のウェブサイトへのリンクを提供する場合がありますが、これらのサイトにアクセスする際は、利用者自身の責任で行ってください。当サイトは、リンク先のサイトの内容やプライバシー保護について一切の責任を負いません。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">7. 知的財産権</h2>
    <p class="text-base leading-relaxed mb-2">当サイト上のコンテンツには、知的財産権が保護されている場合があります。利用者は、当サイト上のコンテンツを無断で複製、配布、改変、販売することはできません。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">8. 免責事項</h2>
    <p class="text-base leading-relaxed mb-2">当サイトは、利用者が当サイトを利用したことによって生じる直接的または間接的な損害について一切の責任を負いません。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">9. その他の規定</h2>
    <p class="text-base leading-relaxed mb-2">本利用規約は、利用者と当サイトとの間の全ての関係に適用されます。本利用規約に別途定めのない事項については、当サイトの運営方針やガイドラインに従うものとします。</p>

    <h2 class="text-gray-900 font-medium title-font text-xl mb-2">10. お問い合わせ</h2>
    <p class="text-base leading-relaxed mb-2">本利用規約に関するご質問や懸念事項がある場合は、以下の連絡先までお問い合わせください。</p>
    <p class="text-base leading-relaxed mb-2"><%= link_to 'お問い合わせフォーム', contact_path, class: "text-green-500 leading-relaxed" %></p>
  </section>
</div>