<% content_for :title, '500 Internal Server Error.' %>

<div class="container px-5 py-24 mx-auto">
  <section class="lg:w-1/2 md:w-2/3 mx-auto">
    <%= render partial: 'layouts/h1', locals: { h1: 'システムエラーが発生しました。' } %>
    <p class="text-base leading-relaxed mb-2">ママパパQ&Aをご利用いただきましてありがとうございます。</p>
    <p class="text-base leading-relaxed mb-2">誠に恐れ入りますが、予期しないエラーが発生しました。</p>
    <p class="text-base leading-relaxed mb-2">しばらくしてから再度お試しください。</p>
    <p class="text-base leading-relaxed mb-2">問題が解決しない場合は、管理者にお問い合わせください。</p>
    <p class="text-base leading-relaxed mb-2"><%= link_to 'お問い合わせフォーム', contact_path, class: "text-green-500 leading-relaxed" %></p>
  </section>
</div>