<div class="w-full flex flex-col">
  <div class=" bg-white shadow m-4 p-4">
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
      <div id="vue-questions-tab"></div>
    </div>
  </div>
</div>
