<% content_for :type, 'website' %>

<div class="container mx-auto flex flex-wrap py-6">
  <section class="w-full md:w-3/4 flex flex-col px-3">
    <%= render partial: 'layouts/h1', locals: { h1: '質問を探す' } %>

    <%# 検索 %>
    <%= render partial: 'list/layouts/search_form' %>

    <%# 検索結果 %>
    <%= render partial: 'list/layouts/search_result' %>

  </section>
  <aside class="w-full md:w-1/4 flex flex-col px-3">
    <div class="w-full bg-white shadow flex flex-col my-4 p-6">
      <p class="text-xl font-semibold pb-5">広告掲載</p>
    </div>
  </aside>
</div>