<div class="w-full bg-white shadow flex flex-col my-4 p-6">
  <div class="border-2 border-gray-100 mb-4 flex flex-col items-center">
    <a href="https://px.a8.net/svt/ejp?a8mat=3TB0GO+CIP5PU+2FS+691UP" rel="nofollow" target="_brank">
    <img border="0" width="300" height="250" alt="" src="https://www21.a8.net/svt/bgt?aid=230621208757&wid=001&eno=01&mid=s00000000316001050000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3TB0GO+CIP5PU+2FS+691UP" alt="">
  </div>
  <div class="border-2 border-gray-100 mb-4 flex flex-col items-center">
    <a href="https://px.a8.net/svt/ejp?a8mat=3TB0GO+CL2W4Y+503M+5ZU29" rel="nofollow" target="_brank">
    <img border="0" width="300" height="250" alt="" src="https://www21.a8.net/svt/bgt?aid=230621208761&wid=001&eno=01&mid=s00000023341001007000&mc=1" loading="lazy"></a>
    <img border="0" width="1" height="1" src="https://www17.a8.net/0.gif?a8mat=3TB0GO+CL2W4Y+503M+5ZU29" alt="" loading="lazy">
  </div>
  <div class="border-2 border-gray-100 mb-4 flex flex-col items-center">
    <a href="https://px.a8.net/svt/ejp?a8mat=3TAUY7+CP8XDE+57KI+5ZMCH" rel="nofollow" target="_brank">
    <img border="0" width="300" height="250" alt="" src="https://www23.a8.net/svt/bgt?aid=230614063768&wid=001&eno=01&mid=s00000024309001006000&mc=1" loading="lazy"></a>
    <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=3TAUY7+CP8XDE+57KI+5ZMCH" alt="" loading="lazy">
  </div>
  <div class="border-2 border-gray-100 mb-4 flex flex-col items-center">
    <a href="https://px.a8.net/svt/ejp?a8mat=3TAUY7+DKSWFM+51OA+609HT" rel="nofollow" target="_brank">
    <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=230614063821&wid=001&eno=01&mid=s00000023545001009000&mc=1" loading="lazy"></a>
    <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=3TAUY7+DKSWFM+51OA+609HT" alt="" loading="lazy">
  </div>
  <div class="border-2 border-gray-100 mb-4 flex flex-col items-center">
    <a href="https://px.a8.net/svt/ejp?a8mat=3TAUY7+EMWN5E+4RLI+609HT" rel="nofollow" target="_brank">
    <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=230614063885&wid=001&eno=01&mid=s00000022239001009000&mc=1" loading="lazy"></a>
    <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=3TAUY7+EMWN5E+4RLI+609HT" alt="" loading="lazy">
  </div>
</div>
