<p><%= @email %> 様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>
    次のメールアドレスに変更します。 <br />
    <%= @resource.unconfirmed_email %>
  </p>
<% else %>
  <p>
    メールアドレス変更しました。<br />
    <%= @resource.email %>
  </p>
<% end %>

<hr />
ママパパQ&A<br />
https://mamapapa-qa.com