<p><%= @email %> 様</p>

<p>パスワード変更リクエストが届きました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は破棄してください。</p>
<p>上のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<hr />
ママパパQ&A<br />
https://papamamaqa.com