<p><%= @email %> 様</p>

<p>ログイン失敗回数が多いため、アカウントをロックしました。</p>

<p>アカウントのロックを解除するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'アカウントロック解除', unlock_url(@resource, unlock_token: @token) %></p>

<hr />
ママパパQ&A<br />
https://papamamaqa.com